<div class="dashboard-container">
  <div class="welcome-section">
    <h2>Welcome to the EmpowerU Dashboard</h2>
    <p>Explore and manage training programs, courses, and progress efficiently.</p>
  </div>

  <div class="overview-cards">
    <div class="card">
      <h3>Total Training Programs</h3>
      <p> {{ totalPrograms }}</p>
    </div>
    <div class="card">
      <h3>Total Courses</h3>
      <p>{{ totalCourses }}</p>
    </div>
    <div class="card">
      <h3>Total Users</h3>
      <p>{{totalUsers}}</p>
    </div>
    <div class="card">
      <h3>Feedback Submitted</h3>
      <p>{{totalFeedbacks}}</p>
    </div>
  </div>

  <div class="sections">
    <div class="section">
      <h4>Training Programs</h4>
      <p>Manage training programs and add new ones.</p>
      <button class="btn btn-primary" routerLink="/training-programs">View Training Programs</button>
    </div>
    <div class="section">
      <h4>Courses</h4>
      <p>Explore and add courses to learning journey.</p>
      <button class="btn btn-primary" routerLink="/courses">View Courses</button>
    </div>
    <div class="section">
      <h4>Progress Tracking</h4>
      <p>Monitor progress and achievements.</p>
      <button class="btn btn-primary" routerLink="/progress">Track Progress</button>
    </div>
    <div class="section">
      <h4>Feedback</h4>
      <p>View feedbacks to improve learning programs.</p>
      <button class="btn btn-primary" routerLink="/feedback">View Feedbacks</button>
    </div>
  </div>
</div>