<div class="container mt-5">
    <h2 class="text-center">Training Programs</h2>
  
    <div class="row">
      <!-- Loop through the trainingPrograms array and display each program as a card -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let program of trainingPrograms">
        <div class="card custom-card mb-4">
          <div class="card-body">
            <h5 class="card-title text-truncate">{{ program.title }}</h5>
            <p class="card-text text-truncate" style="max-height: 3rem; overflow: hidden;">{{ program.description }}</p>
            <!-- Delete Button -->
            <button class="btn btn-primary " [routerLink]="['/usercourses', program.id]" (click)="saveId(program.id)">View Courses</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  